<h2>
  <img class="avatar-small" src="" />
  <form class="ml-2 d-inline" action="/removeFollow" method="POST">
    <input type="hidden" name="_csrf" value="" />
    <button class="btn btn-danger btn-sm">
      Stop Following <i class="fas fa-user-times"></i>
    </button>
  </form>
  <form class="ml-2 d-inline" action="/addFollow" method="POST">
    <input type="hidden" name="_csrf" value=">" />
    <button class="btn btn-primary btn-sm">
      Follow <i class="fas fa-user-plus"></i>
    </button>
  </form>
</h2>

<div class="profile-nav nav nav-tabs pt-2 mb-4">
  <a
    href="/profile"
    class="
      profile-nav-link
      nav-item nav-link
      <%=
      currentPage
      ==
      'posts'
      ?
      'active'
      :
      ''
      %>
    "
    >Posts: 12</a
  >
  <a href="/profile/followers" class="profile-nav-link nav-item nav-link"
    >Followers: 1</a
  >
  <a href="/profile/following" class="profile-nav-link nav-item nav-link"
    >Following: 1</a
  >
</div>
