<div class="container py-md-5">
  <div class="alert alert-danger text-center" *ngIf="loginError">
    Invalid username / password.
  </div>
  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">
        <i class="fa fa-heart-o" aria-hidden="true"></i> Welcome to our
        Postobook :)
      </h1>
      <p class="lead text-muted">
        Are you sick of short tweets and impersonal shared posts that are
        reminiscent of the late 90's email forwards? We believe getting back to
        actually writing is the key to enjoying the internet again.
      </p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form
        action="/register"
        method="POST"
        id="registration-form"
        [formGroup]="signUpForm"
        (ngSubmit)="signUp()"
      >
        <div class="form-group">
          <label for="username-register" class="text-muted mb-1"
            ><small>Username</small></label
          >
          <input
            name="username"
            id="username-register"
            type="text"
            placeholder="Pick a username"
            autocomplete="off"
            class="form-control"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && l.username.errors }"
          />
          <div
            *ngIf="l.username.touched && l.username.errors"
            class="text-danger"
          >
            <small>
              <div
                *ngIf="l.username.errors.required"
                class="alert alert-danger text-center"
              >
                UserName is required
              </div>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="email-register" class="text-muted mb-1"
            ><small>Email</small></label
          >
          <input
            name="email"
            id="email-register"
            class="form-control"
            type="text"
            placeholder="you@example.com"
            autocomplete="off"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && l.email.errors }"
          />
          <div *ngIf="l.email.touched && l.email.errors">
            <small>
              <div
                *ngIf="l.email.errors.required"
                class="alert alert-danger text-center"
              >
                Email is required
              </div>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="password-register" class="text-muted mb-1"
            ><small>Password</small></label
          >
          <input
            name="password"
            id="password-register"
            class="form-control"
            type="password"
            placeholder="Create a password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && l.password.errors }"
          />
          <div *ngIf="l.password.touched && l.password.errors">
            <small>
              <div
                *ngIf="l.password.errors.required"
                class="alert alert-danger text-center"
              >
                Password is required
              </div>
            </small>
          </div>
        </div>

        <input type="hidden" name="_csrf" value="" />
        <button
          type="submit"
          class="py-3 mt-4 btn btn-lg btn-success btn-block"
          [disabled]="!signUpForm.valid"
        >
          Sign up for Postobook
        </button>
      </form>
    </div>
  </div>
</div>
