<div class="container py-md-5 container--narrow">
  <div class="d-flex justify-content-between">
    <h2>title</h2>
    <span class="pt-2">
      <a
        href="/post"
        class="text-primary mr-2"
        data-toggle="tooltip"
        data-placement="top"
        title="Edit"
        ><i class="fas fa-edit"></i
      ></a>
      <form class="delete-post-form d-inline" action="/post" method="POST">
        <input type="hidden" name="_csrf" value="" />
        <button
          class="delete-post-button text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
        >
          <i class="fas fa-trash"></i>
        </button>
      </form>
    </span>
  </div>

  <p class="text-muted small mb-4">
    <a href="/profile"><img class="avatar-tiny" src="" /></a>
    Posted by
    <a href="/profile"></a>
  </p>

  <div class="body-content">bla bla</div>
</div>
